<html>
    <head>
    <!-- Title -->
        <title> <%= 'ToDo App' %> </title>
        <link rel="icon" href="/img/icon.jpg" type="image/icon type">
    <!-- Added css -->
        <link rel="stylesheet" href="/css/home.css">
    <!-- Added font awesome icons -->
        <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <!-- Heading -->
        <div class="nav-bar">
            <h1>MY TODO LIST</h1>
        </div>
    <!-- Add a new todo -->
        <div class="new-todo">
            <form class="add-new-todo" action="/create-todo-item" method="POST">
                <div class="due-date-container">
                    <input id="dueDate" type="date" name="dueDate" />
                </div>

                <input id="new-todo-input" type="text" name="content" placeholder="Create a new todo"/>
          </form>
        </div>
    <!-- Menu bar -->
        <div class="menu">
            <div class="left-menu">
                <span class="totalTasks">Total tasks (<%= length%>) </span>
            </div>
            <div class="right-menu">
                <span >Deadline</span>
            </div>
        </div>

    <!-- If there is no todo -->
        <% if(length == 0) { %>
            <div class="no-todo">Can a todo list be ever empty!</div>
        <% } else { %>
    <!-- List of todos -->
            <div class="todo-list">
                <% for (let i of todo_list) { %>
                <div class="todo-list-item">
                    <div class="todo-text">
                        <!-- serial number -->
                        <%= sr++ %>.
                        <%= i.content %>
                    </div>
                    
                    <div class="item-option">
                        <div class="todo-date">
                            <% if(i.dueDate !== ''){ %>
                                <h6>
                                    <% var months = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"] %> 
                                    <%= i.dueDate.substring(8) + " " + months[parseInt(i.dueDate.substring(5,7)) - 1] %>
                                </h6>
                            <% } else{ %>
                                <h6> - </h6>
                            <% } %> 
                        </div>
                        
                        <a href="/delete-todo-item/?id=<%= i._id %>" class="del">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>            
                <% } %>
            </div>   
        <% } %>
    </body>

</html>